<app-header></app-header>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-header page-scroll">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <div class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/book" class="nav-link" href="#">Books </a>
      </li>
      <li class="nav-item active">
        <a routerLink="/favorites" class="nav-link" href="#">Favorites </a>
      </li>

    </div>
    <form class=" navbar-right justify-content-end form-inline" name="form" (ngSubmit)="searchBookByKey(page = 1)">
      <input type="text" autofocus class="usernameInput" [(ngModel)]="keyInput" name="usernameInput" placeholder="Book Key">
      <input type="submit" class="btn-search" name="search" value="Search">
    </form>
  </div>
</nav>

<section *ngIf="books && books.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <h2>{{key}}</h2>
      </div>
      <div class="col-md-9 col-xs-6 pagination" *ngIf="totalPages && totalPages > 1">
        <button [ngClass]="{disabled:page === 1}" (click)="searchBook(page = page - 1)">Anterior</button>
        <button [ngClass]="{disabled:page === totalPages}" (click)="searchBook(page = page + 1)">Proximo</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12" *ngFor="let book of books">
        <div class="card">
          <img *ngIf="book.volumeInfo.imageLinks" class="card-img-top" src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="Book image">
          <div class="card-block">
            <h4 class="card-title">{{ book.volumeInfo.title }}</h4>
            <p class="card-text">{{ book.volumeInfo.description }}</p>
            <a (click)="moreInfo(books.indexOf(book))" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="books && books.length < 1">
  <h2>Your list of favorites books is empty.</h2>
</section>
