h1,h2,h3,h4,h5,h6 {
     font-family: 'Montserrat', sans-serif;
}

section {
     padding: 100px 0;
}






.navbar {
     background: #24292e;
}

.navbar-brand, .navbar-brand:hover {
     color: #c8c9ca;
     font-size: 20px;
     font-family: 'Montserrat', sans-serif;
     margin-top: 2px;
}

.form {
     margin: 10px 0;
}

.btn-search {
     color: #c8c9ca;
     font-size: 14px;
     border: none;
     background: transparent;
     font-family: 'Montserrat', sans-serif;
}

.btn-search:hover {
     color: #fafafa;
}


.usernameInput {
     font-family: 'Montserrat', sans-serif;
     padding: 5px 8px;
     width: 220px;
     margin: 0 20px;
     border-radius: 5px;
     color: #c8c9ca;
     border: 2px solid #24292e;
     background: #4a4e52;
}









.input-comment {
     width: 70%;
     padding: 10px;
     border-radius: 5px;
     border: 2px solid #dedede;
}
.btn-comment {
     color: #24292e;
     font-size: 12px;
     bottom: 0;
     position: absolute;
     border: none;
     background: transparent;
     font-family: 'Montserrat', sans-serif;
}

.btn-comment:hover {
     color: #6C737A;
}

.btn-remove {
     border: none;
     background: transparent;
     display: inline-block;
     float: right;
}

.pagination {
     margin: 20px auto;
     display: table;
}

.list-group-item {
     margin-bottom: 5px;
}
