<div class="not-found">
     <div class="container">
          <div class="row icons-404">
               <div class="col-md-3 col-md-offset-3">
                    <img src="./../../../assets/images/404-text.png" alt="">
               </div>
               <div class="col-md-3">
                    <img src="./../../../assets/images/git.png" alt="">
               </div>
               <div class="col-md-3">
                    <button routerLink="/main" type="button" name="button" class="btn-home">Home</button> 
               </div>
          </div>
     </div>
</div>
