<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-header page-scroll"></div>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <div class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/book" class="nav-link" href="#">Books </a>
      </li>
      <li class="nav-item active">
        <a routerLink="/favorites" class="nav-link" href="#">Favorites </a>
      </li>
    </div>
  </div>
</nav>

<section *ngIf="book">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="image">
          <img *ngIf="book.volumeInfo.imageLinks" class="card-img" src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="Book Image">
          <h5>{{ book.volumeInfo.title }}</h5>
          <p>{{ book.volumeInfo.printType }} of {{ book.volumeInfo.pageCount }} pages</p>
          <p>{{ book.volumeInfo.publishedDate | date: 'dd/MM/yyyy' }} </p>
          <p><span class="bold">Publisher:</span> {{ book.volumeInfo.publisher }} </p>
          <p><span class="bold">Mature Rating:</span> {{ book.volumeInfo.maturityRating }} </p>
          <a href="{{book.volumeInfo.infoLink}}"><button class="btn-buy" type="button" name="button">Buy</button></a>
          <button id="btn-fav" type="button" name="button" (click)="favoriteBook(book)"><i class="fa fa-star"></i> Favorite</button>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <p><span class="bold">Authors:</span>
          <span  *ngFor="let author of book.volumeInfo.authors">{{ author }}, </span>
        </p>
        <p><span class="bold">Description: </span><br/>{{ book.volumeInfo.description }}</p>
      </div>
    </div>
  </div>
</section>
